body {
    font-family: Arial, Helvetica, sans-serif;
}

/* utilities class */
.bg-navbar {
    background-color: #0e6f38;
}

/* general */

a:hover {
    cursor: pointer;
}

.search-box,
input[type="date"] {
    border-radius: 20px;
    border: 1px #111 solid;
    padding: 8px;
    height: 35px;
    outline: none;
}

table .tfoot-light {
    background-color: #eee;
}

table tbody a {
    color: blue;
}

table tbody a[type="button"] {
    color: #000;
}

table tbody td {
    padding: 0 40px;
}

a.btn-light {
    color: #111;
}

a.btn-light:hover {
    color: #111;
}

/* admin -home page */

#main-header a {
    color: #fff;
}

#main-header a.current {
    color: #f3dc0b;
}

#main-header a:hover {
    color: #f3dc0b;
}

#main-header .dropdown-menu {
    background-color: rgba(14, 111, 56, 0.951);
    margin-right: 1.5rem;
    border: none;
}

#main-header .dropdown-menu .dropdown-item:hover {
    background-color: rgba(14, 111, 56, 0.951);
    color: #f3dc0b;
}

#main-header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#main-header .user-wrap {
    padding-right: 1.9rem;
}

a[type="button"] {
    color: #fff;
}

#main-header a img {
    width: 50px;
}

#main-header .navbar-toggler-icon {
    color: #fff;
}

#main-header .navbar-nav li {
    padding: 0 0.5rem;
}

section.home-page main.right-content .list-customer-header,
section.home-page main.right-content .list-customer-order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.home-page main.right-content .list-customer-header .search-box {
    margin-left: 310px;
}

/* admin details customer page */

section.home-page main.right-content .list-customer-order-details .form-group {
    margin-left: 150px;
    align-self: center;
}

/* order details page */
#create-new-order,
.order {
    height: 100vh;
}

.order .order-header .order-header-right input {
    height: 30px;
}

.order .order-header input[type="date"] {
    border: none;
}

.order .modal {
    width: 60%;
    margin: 0.5rem 10rem;
}

#change-order .order-footer .modal {
    margin-top: 0px;
}

/* accountant home page */
#list-type-tea table button[type="button"] {
    border: none;
    padding: 0.2rem;
    outline: none;
}

.right-content .row a.btn {
    position: relative;
    left: 80px;
}

.right-content .row input {
    position: relative;
    left: 150px;
}

/* sign in - sign up */
.sign {
    width: 100vw;
    height: 100vh;
    background-color: rgba(14, 111, 56, 0.94);
}

.sign .logo img {
    margin-top: 3rem;
    width: 100px;
}

.sign .logo {
    margin-right: 2rem;
}

.sign .sign-box {
    background-color: rgba(29, 163, 247, 0.603);
    border-radius: 3px;
    height: 75vh;
    width: 375px;
    color: #fff;
    position: relative;
    bottom: 5.5rem;
    font-size: 1.2rem;
}

.sign .sign-box input[type="submit"] {
    margin-top: 2rem;
    display: inline-block;
}

/*  */
#home-page-admin tbody tr td a:last-child {
    margin-top: -7px;
}

#create-new-order .order-header .order-header-left input[type="datetime-local"],
#new-transaction .order-header .order-header-left input[type="datetime-local"] {
    width: 11.3rem;
}

/* report search */
#report-day .list-customer-header form input {
    width: 100px;
    margin: 0 1rem;
}

#report-day .list-customer-header form input[type="datetime-local"] {
    width: 200px;
}

#loan-control-customer table td input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button.navbar-toggler {
    border: none;
    outline: none;
}

button.navbar-toggler i.fa-bars {
    font-size: 2rem;
}
#home-page-admin .change-btn {
    position: relative;
    top: -7px;
}
